@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-montserrat;
  }
}

@layer components {
  .wrap {
    @apply flex flex-col w-[80%] rounded-[15px] p-[20px] min-h-[700px] border-solid border-bordercl border-[1px] gap-[50px];
  }

  .btn {
    @apply border-[1px] border-bordercl rounded-[5px] p-[5px] hover:bg-primary hover:text-white md:hover:scale-[1.2] md:transition-all whitespace-nowrap text-center;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* imgSlider HomePage*/
.awssld {
  height: 300px;
}

.awssld__wrapper {
  border-radius: 10px;
}

.awssld__bullets {
  bottom: 20px !important;
  z-index: 2;
}

.wrapSlider {
  height: 300px;
}

.des {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* Calendar */
.fc-v-event {
  background-color: transparent;
  border: none;
}
